data/font_pack.dtd

<!ELEMENT FontPack (ButtonFont, DefaultFont, InputFont, TitleFont, InfoFont) >
	<!ELEMENT ButtonFont  (Name, Size, FontStyle*) >
	<!ELEMENT DefaultFont (Name, Size, FontStyle*) >
	<!ELEMENT InputFont   (Name, Size, FontStyle*) >
	<!ELEMENT TitleFont   (Name, Size, FontStyle*) >
	<!ELEMENT InfoFont   (Name, Size, FontStyle*) >
		<!ELEMENT Name      (#PCDATA) >
		<!ELEMENT Size      (#PCDATA) >
		<!ELEMENT FontStyle (#PCDATA) >